root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,jsx,ts,tsx}]
quote_type = single
ij_javascript_use_double_quotes = false
ij_typescript_force_quote_style = true

[*.md]
trim_trailing_whitespace = false

[*.json]
insert_final_newline = false